@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);

@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
}

.exo {
  font-family: "Exo 2", serif;
  font-weight: 700;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(135deg, #a392fa 0, #93ebfd 100%);
  background-size: 100%;
  -webkit-box-decoration-break: clone;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
